.fix_navbar.act{
    transform: translateY(0px);
    transition: 0.5s;
    @media (max-width:400px) {
        transform: translateY(-10px);
    }
}
.fix_navbar{
    display: none;
    width: 100%;
    height: 80px;
    position: fixed;
    transform: translateY(-100px);
    z-index: 5;
    transition: 0.5s;
    background-image: url("../img/head_background.jpg");
    .fixed_logo_wrap{
        position: absolute;
        display: block;
        width: auto;
        top: 20px;
        left: 40px;
        img{
            display: block;
            @media (max-width:300px) {
                width: 120px;
            }
        }
        @media (max-width:410px) {
            left: 5px;
        }
        @media (max-width:300px){
            top: 25px;
        }
    }
    .fixed_language{
        position: absolute;
        top: calc(50% - 22.5px);
        width: 45px;
        height: 45px;
        border-radius: 100%;
        border: 2px white solid;
        box-sizing: border-box;
        color: white;
        text-align: center;
        line-height: 45px;
        @media (max-width:330px) {
            top: calc(50% - 17.5px);
            width: 35px;
            height: 35px;
            line-height: 35px;
            font-size: 12px;
        }
    }
    .fixed_language_ch{
        right: 160px;
        @media (max-width:410px) {
            right: 140px;
        }
        @media (max-width:330px){
            right: 115px;
        }
    }
    .fixed_language_en{
        right: 100px;
        @media (max-width:410px) {
            right: 90px;
        }
        @media (max-width:330px){
            right: 75px;
        }
    }
    @media (max-width:1400px) {
        display: block;
    }
}

// 固定navbar
.fixed_burger_nav {
    display: none;
    position: fixed;
    @media (max-width: 1400px) {
        display: block;
        width: 100%;
        background-image: url("../img/head_background.jpg");
        // background-color: black;
        // position: absolute;
        z-index: 3;
        transform: translateY(-740px);
        transition: 1s;
        padding: 20px 0 20px 0;
    }

    .burger-nav-item {
        display: flex;
        margin: 40px;
        // border: 1px red solid;
        justify-content: center;
        .burger-nav-img {
            width: 40px;
            height: 40px;
        }
        .title-box {
            width: 110px;
            // border: 1px solid black;
            box-sizing: border-box;

            text-align: center;
            .title {
                font-size: 1.3em;
                color: #000;
            }
            .title-en {
                font-size: 1em;
                color: #977039;
            }
        }
    }
    .burger-nav-item:nth-child(1) {
        margin: 0 0 40px 0;
    }
    .burger-nav-item:nth-child(7) {
        margin: 40px 0 0 0;
    }
}
.fixed_burger_nav.open {
    transform: translateY(-60px);
    
}



// 漢堡條

// vars
$color: #fff; // icon color
$blue: #158fef; // background color
$animation: 0.6s; // animation speed
$scale: 1; // icon scale 68/68 default

.fixed_hamburglar {
    display: none;
    transform: scale($scale);
    position: absolute;
    top: calc(50% - 34px);
    right: 15px;
    width: 68px;
    height: 68px;
    // background: $blue;
    -webkit-touch-callout: none;
    user-select: none;
    @media (max-width:1400px) {
        display: block;
    }
    @media (max-width:400px) {
        right: 5px;
    }
}

// transition mask
.path-burger {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
   
    // two masks because... browser support.
    mask: url(#mask);
    -webkit-mask-box-image: url(https://raygun.io/upload/mask.svg);
}

.animate-path {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
}

// what this does is create a small square that I then rotate behind an svg mask, giving the apparence of the line animating
.path-rotation {
    height: 34px;
    width: 34px;
    margin: 34px 34px 0 0;
    transform: rotate(0deg);
    transform-origin: 100% 0;
    &:before {
        content: "";
        display: block;
        width: 30px;
        height: 34px;
        margin: 0 4px 0 0;
        background: $color;
    }
}

// box rotation animation
@keyframes rotate-out {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-in {
    0% {
        transform: rotate(360deg);
    }
    40% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

// offset moves
// dasharray is the dash size
// need to be able to control dash space size.

.fixed_hamburglar.is-open {
    .path {
        animation: dash-in2 $animation linear normal;
        animation-fill-mode: forwards;
    }
    .animate-path {
        animation: rotate-in $animation linear normal;
        animation-fill-mode: forwards;
    }
}

.fixed_hamburglar.is-closed {
    .path {
        animation: dash-out2 $animation linear normal;
        animation-fill-mode: forwards;
    }
    .animate-path {
        animation: rotate-out $animation linear normal;
        animation-fill-mode: forwards;
    }
}

.path {
    stroke-dasharray: 240;
    stroke-dashoffset: 240;
    stroke-linejoin: round;
}

@keyframes dash-in2 {
    0% {
        stroke-dashoffset: 240;
    }
    40% {
        stroke-dashoffset: 240;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes dash-out2 {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 240;
    }
    100% {
        stroke-dashoffset: 240;
    }
}

// All good burgers need filling!

.burger-icon {
    position: absolute;
    padding: 20px 16px;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
}

.fixed_burger_container {
    position: relative;
    right: -2.5px;
    height: 28px;
    width: 31px;
    // background-color: crimson;
    cursor: pointer;
    z-index: 5;
}

.burger-bun-top,
.burger-bun-bot,
.burger-filling {
    position: absolute;
    display: block;
    height: 4px;
    width: 31px;
    border-radius: 2px;
    background: $color;
}

.burger-bun-top {
    top: 0;
    transform-origin: 31px 4px;
}

.burger-bun-bot {
    bottom: 0;
    transform-origin: 31px 1px;
}
.burger-filling {
    top: 12px;
}
// burger ring container
.burger-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
}

.svg-ring {
    width: 68px;
    height: 68px;
    // background-color: cornflowerblue;
}
// bun animations
.fixed_hamburglar.is-open {
    .burger-bun-top {
        animation: bun-top-out $animation linear normal;
        animation-fill-mode: forwards;
    }
    .burger-bun-bot {
        animation: bun-bot-out $animation linear normal;
        animation-fill-mode: forwards;
    }
}
.fixed_hamburglar.is-closed {
    .burger-bun-top {
        animation: bun-top-in $animation linear normal;
        animation-fill-mode: forwards;
    }
    .burger-bun-bot {
        animation: bun-bot-in $animation linear normal;
        animation-fill-mode: forwards;
    }
}

@keyframes bun-top-out {
    0% {
        left: 0;
        top: 0;
        transform: rotate(0deg);
    }
    20% {
        left: 0;
        top: 0;
        transform: rotate(15deg);
    }
    80% {
        left: -4px;
        top: 0;
        transform: rotate(-60deg);
    }
    100% {
        left: -4px;
        top: 1px;
        transform: rotate(-45deg);
    }
}

@keyframes bun-bot-out {
    0% {
        left: 0;
        transform: rotate(0deg);
    }
    20% {
        left: 0;
        transform: rotate(-15deg);
    }
    80% {
        left: -4px;
        transform: rotate(60deg);
    }
    100% {
        left: -4px;
        transform: rotate(45deg);
    }
}

@keyframes bun-top-in {
    0% {
        left: -5px;
        bot: 0;
        transform: rotate(-45deg);
    }
    20% {
        left: -5px;
        bot: 0;
        transform: rotate(-60deg);
    }
    80% {
        left: 0;
        bot: 0;
        transform: rotate(15deg);
    }
    100% {
        left: 0;
        bot: 1px;
        transform: rotate(0deg);
    }
}

@keyframes bun-bot-in {
    0% {
        left: -5px;
        transform: rotate(45deg);
    }
    20% {
        left: -5px;
        bot: 0;
        transform: rotate(60deg);
    }
    80% {
        left: 0;
        bot: 0;
        transform: rotate(-15deg);
    }
    100% {
        left: 0;
        transform: rotate(0deg);
    }
}

// burger filling
.fixed_hamburglar.is-open {
    .burger-filling {
        animation: burger-fill-out $animation linear normal;
        animation-fill-mode: forwards;
    }
}

.fixed_hamburglar.is-closed {
    .burger-filling {
        animation: burger-fill-in $animation linear normal;
        animation-fill-mode: forwards;
    }
}

@keyframes burger-fill-in {
    0% {
        width: 0;
        left: 31px;
    }
    40% {
        width: 0;
        left: 40px;
    }
    80% {
        width: 31px;
        left: -6px;
    }
    100% {
        width: 31px;
        left: 0px;
    }
}

@keyframes burger-fill-out {
    0% {
        width: 31px;
        left: 0px;
    }
    20% {
        width: 42px;
        left: -6px;
    }

    40% {
        width: 0;
        left: 40px;
    }

    100% {
        width: 0;
        left: 31px;
    }
}
