#app5{
    position: relative;
    // top: -7.1855vw;
    box-sizing: border-box;
    section{
        .earth_background{
            background-image: url('../img/section5_background.jpg');
            background-position: bottom center ;
            background-repeat: no-repeat;
            background-size: cover;
          .earth_background_shadow{
            background-color: rgba(0,0,0,0.3);
            .container{
                width: 1170px;
                margin: auto;
                box-sizing: border-box;
                @media (max-width:1200px) {
                    width: 90%;
                }
                
                svg{
                    width: 100%;
                    height: 100%;
                  
                    // 地球 Earth ~~~~~~~~~~~~~~
                    .earth{
                        width: 299px;
                        height: 299px;
                        opacity: 0.7;
                        transform:matrix(0.001,0,0,0.001,545,450);
                    }
                    .earth.act{
                        animation: earth 0.5s  forwards 0.2s;
                        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.575);
                    }
                    @keyframes earth {
                        from{
                            transform:matrix(0.001,0,0,0.001,545,450);
                        }
                        to{
                            transform:matrix(1.0884,0,0,1.0884,394.5098,335.7976);
                        }
                    }


                     // 草 Grass ~~~~~~~~~~~~~~
                    .grass1{
                        opacity: 0;
                        transform: matrix(0.9,0,0,0.9,418.6841,407.2663);
                    }
                    .grass1.act{
                        animation: grass1 1s linear forwards 0.4s;
                    }
                    @keyframes grass1 {
                        0%{
                            opacity: 1;
                            transform: matrix(1.1195,0,0,1.1195,398.6841,377.2663);
                        }
                        40%{
                            transform: matrix(1.1195,0,0,1.1195,398.6841,377.2663);
                        }
                        100%{
                            opacity: 1;
                            transform: matrix(1.1195,0,0,1.1195,378.6841,357.2663);
                        }
                    }
                    .grass2{
                        opacity: 0;
                        transform: matrix(1,0,0,1,480.0736,380.3254);
                    }
                    .grass2.act{
                        animation: grass2 1s linear forwards 0.4s;
                    }
                     @keyframes grass2 {
                        0%{
                            opacity: 1;
                            transform: matrix(1,0,0,1,480.0736,380.3254);
                        }
                        40%{
                            transform: matrix(1,0,0,1,480.0736,380.3254);
                        }
                        100%{
                            opacity: 1;
                            transform: matrix(1.3416,0,0,1.3416,449.0736,320.3254);
                        }
                    }
                    .grass3{
                        opacity: 0;
                        transform: matrix(0.7446,0,0,0.7446,535.6755,350.1016);
                    }
                    .grass3.act{
                        animation: grass3 0.5s linear forwards 0.4s;
                    }
                     @keyframes grass3 {
                        0%{
                            opacity: 1;
                            transform: matrix(0.7446,0,0,0.7446,535.6755,350.1016);
                        }
                        40%{
                            transform: matrix(0.7446,0,0,0.7446,535.6755,350.1016);
                        }
                        100%{
                            opacity: 1;
                            transform: matrix(0.9446,0,0,0.9446,535.6755,284.1016);
                        }
                    }
                    .grass4{
                         opacity: 0;
                        transform: matrix(1.3067,0,0,1.3067,600.5938,380.5431);
                    }
                    .grass4.act{
                        animation: grass4 0.5s linear forwards 0.7s; 
                    }
                     @keyframes grass4 {
                        0%{
                            opacity: 1;
                            transform: matrix(1.3067,0,0,1.3067,600.5938,380.5431);
                        }
                        40%{
                            transform: matrix(1.3067,0,0,1.3067,600.5938,380.5431);
                        }
                        100%{
                            opacity: 1;
                            transform: matrix(1.3067,0,0,1.3067,630.5938,321.5431);
                        }
                    }
                    .grass5{
                         opacity: 0;
                        transform: matrix(0.6741,0,0,0.6741,650.2303,420.8788);
                    }
                    .grass5.act{
                        animation: grass5 0.6s linear forwards 0.5s;
                    }
                     @keyframes grass5 {
                        0%{
                            opacity: 1;
                            transform: matrix(0.6741,0,0,0.6741,650.2303,420.8788);
                        }
                        40%{
                            transform: matrix(0.6741,0,0,0.6741,650.2303,420.8788);
                        }
                        100%{
                            opacity: 1;
                            transform: matrix(0.9741,0,0,0.9741,673.2303,351.8788);
                        }
                    }



                    // 曲線 Curve ~~~~~~~~~~~~~~
                    .curve {
                        fill: none;
                        stroke: #f6ce2d;
                        stroke-linecap: round;
                        stroke-width: 3;
                    }
                    .curve1{
                        stroke-dasharray: 260 750;
                        stroke-dashoffset: 260px;
                    }
                    .curve1.act{
                        animation: curve1 1.3s  linear 1.5s;
                    }
                    @keyframes curve1 {
                        0%{
                            stroke-dasharray: 50 750;
                            stroke-dashoffset: 260px;
                        }
                       
                       100%{
                            stroke-dasharray: 260 750;
                            stroke-dashoffset: -380px;
                       }
                        
                    }
                    .curve2{
                        stroke-dasharray: 0 750;
                        stroke-dashoffset: 200px;;
                    }
                    .curve2.act{
                        animation: curve2 1.3s  linear 0.9s;
                    }
                     @keyframes curve2 {
                        0%{
                            stroke-dasharray: 0 750;
                            stroke-dashoffset: 200px;
                        }
                        50%{
                            stroke-dasharray: 100 750;
                            stroke-dashoffset: -100px;
                        }
                        55%{
                            stroke-dasharray: 105 750;
                            stroke-dashoffset: -110px;
                        }
                       100%{
                        stroke-dasharray: 200 750;
                            stroke-dashoffset: -410px;
                       }
                        
                    }
                    .curve3{
                        stroke-dasharray: 0 750;
                        stroke-dashoffset: 150px;
                    }
                    .curve3.act{
                        animation: curve3 1.3s linear 2s;
                    }
                    @keyframes curve3 {
                        0%{
                            stroke-dasharray: 0 750;
                            stroke-dashoffset: 150px;
                        }
                        50%{
                            stroke-dasharray: 100 750;
                            stroke-dashoffset: -100px;
                        }
                        65%{
                            stroke-dasharray: 105 750;
                            stroke-dashoffset: -200px;
                        }
                       100%{
                            stroke-dasharray: 250 750;
                           stroke-dashoffset: -400px;
                       }
                        
                    }

                    .curve4{
                        stroke-dasharray: 0 750;
                        stroke-dashoffset: 340px;
                    }
                    .curve4.act{
                        animation: curve4 1.3s  linear 2.7s;
                    }
                    @keyframes curve4 {
                        0%{
                            stroke-dasharray: 0 750;
                            stroke-dashoffset: 340px;
                        }
                        60%{
                            stroke-dasharray: 165 750;
                            stroke-dashoffset: -100px;
                        }
                       90%{
                        stroke-dasharray: 165 750;
                        stroke-dashoffset: -300px;
                       }
                       100%{
                            stroke-dasharray: 330 750;
                            stroke-dashoffset: -370px;
                       }
                        
                    }


                    
                    // 字加框框 Group ~~~~~~~~~~~~~~
                    .group {
                        fill: none;
                        stroke: #FFFFFF;
                        font-size: 59.6084px;
                        font-family: 'AdobeMingStd-Light-B5pc-H';
                    }
                    .group1{
                        transform: matrix(1,0,0,1,0,0);
                    }
                    .group1.act{
                        animation: group1 0.5s forwards 2.7s;
                    }
                    @keyframes group1 {
                        0%{
                            transform: matrix(1,0,0,1,0,0);
                        }
                        50%{
                            transform: matrix(1.2,0,0,1.2,-28,-100);
                        }
                        100%{
                            transform: matrix(1,0,0,1,0,0);
                        }
                    }
                    .group2{
                        transform: matrix(1,0,0,1,0,0);
                    }
                    .group2.act{
                        animation: group2 0.5s forwards 2.9s;
                    }
                    @keyframes group2 {
                        0%{
                            transform: matrix(1,0,0,1,0,0);
                        }
                        50%{
                            transform: matrix(1.2,0,0,1.2,-48,-50);
                           
                        }
                        100%{
                            transform: matrix(1,0,0,1,0,0);
                        }
                    }
                    .group3{
                        transform: matrix(1,0,0,1,0,0);
                    }
                    .group3.act{
                        animation: group3 0.5s forwards 3.1s;
                    }
                    @keyframes group3 {
                        0%{
                            transform: matrix(1,0,0,1,0,0);
                        }
                        50%{
                            transform: matrix(1.2,0,0,1.2,-110,-30);
                           
                        }
                        100%{
                            transform: matrix(1,0,0,1,0,0);
                        }
                    }
                    .group4{
                        transform: matrix(1,0,0,1,0,0);
                    }
                    .group4.act{
                        animation: group4 0.5s forwards 3.3s;
                    }
                    @keyframes group4 {
                        0%{
                            transform: matrix(1,0,0,1,0,0);
                        }
                        50%{
                            transform: matrix(1.2,0,0,1.2,-167,-55);
                           
                        }
                        100%{
                            transform: matrix(1,0,0,1,0,0);
                        }
                    }
                    .group5{
                        transform: matrix(1,0,0,1,0,0);
                    }
                    .group5.act{
                        animation: group5 0.5s forwards 3.5s;
                    }
                    @keyframes group5 {
                        0%{
                            transform: matrix(1,0,0,1,0,0);
                        }
                        50%{
                            transform: matrix(1.2,0,0,1.2,-195,-105);
                           
                        }
                        100%{
                            transform: matrix(1,0,0,1,0,0);
                        }
                    }


                 

                    // 字 Text ~~~~~~~~~~~~~~
                    .text{
                        fill: #FAFAFA;
                    }
                    .text1{
                        transform: matrix(1.4,0,0,1.4,80,548);
                        opacity: 0;
                    }
                    .text1.act{
                        animation: text1 0.5s forwards 1.5s;
                        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
                    }
                    @keyframes text1 {
                        0%{
                            opacity: 0.8;
                            transform: matrix(1.4,0,0,1.4,80,548);
                        }
                        35%{
                            opacity: 0.8;
                            transform: matrix(1.4,0,0,1.4,80,548);
                        }
                        100%{
                            opacity: 1;
                            transform: matrix(1,0,0,1,92.7158,536.7744);
                        }
                    }
                    .text2{
                        transform: matrix(1,0,0,1,223.3403,268.0869);
                        transform: matrix(1.4,0,0,1.4,212,279);
                        opacity: 0;
                    }
                    .text2.act{
                        animation: text2 0.5s forwards 1.8s;
                        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
                    }
                    @keyframes text2 {
                        0%{
                            opacity: 0.8;
                            transform: matrix(1.4,0,0,1.4,212,279);
                        }
                        35%{
                            opacity: 0.8;
                            transform: matrix(1.4,0,0,1.4,212,279);
                        }
                        100%{
                            opacity: 1;
                            transform: matrix(1,0,0,1,223.3403,268.0869);
                        }
                    }
                    .text3{
                        transform: matrix(1,0,0,1,526.9971,137.228);
                        transform: matrix(1.4,0,0,1.4,518,149);
                        opacity: 0;
                    }
                    .text3.act{
                        animation: text3 0.5s forwards 2.1s;
                        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
                    }
                    @keyframes text3 {
                        0%{
                            opacity: 0.8;
                            transform: matrix(1.4,0,0,1.4,518,149);
                        }
                        35%{
                            opacity: 0.8;
                            transform: matrix(1.4,0,0,1.4,518,149);
                        }
                        100%{
                            opacity: 1;
                            transform: matrix(1,0,0,1,526.9971,137.228);
                        }
                    }
                    .text4{
                        transform: matrix(1,0,0,1,804.1387,272.4326);
                        transform: matrix(1.4,0,0,1.4,790.5,280);
                        opacity: 0;
                    }
                    .text4.act{
                        animation: text4 0.5s forwards 2.4s;
                        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
                    }
                    @keyframes text4 {
                        0%{
                            opacity: 0.8;
                            transform: matrix(1.4,0,0,1.4,790.5,280);
                        }
                        35%{
                            opacity: 0.8;
                           transform: matrix(1.4,0,0,1.4,790.5,280);
                        }
                        100%{
                            opacity: 1;
                            transform: matrix(1,0,0,1,804.1387,272.4326);
                        }
                    }
                    .text5{
                        transform: matrix(1,0,0,1,965.2715,535.8682);
                        transform: matrix(1.4,0,0,1.4,953.5,544);
                        opacity: 0;
                    }
                    .text5.act{
                        animation: text5 0.5s forwards 2.7s;
                        animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
                    }
                    @keyframes text5 {
                        0%{
                            opacity: 0.8;
                            transform: matrix(1.4,0,0,1.4,953.5,544);
                        }
                        35%{
                            opacity: 0.8;
                            transform: matrix(1.4,0,0,1.4,953.5,544);
                        }
                        100%{
                            opacity: 1;
                            transform: matrix(1,0,0,1,965.2715,535.8682);
                        }
                    }



                    // 橢圓框框 Ellipse ~~~~~~~~~~~~~~
                    .ellipse1{
                        transform: matrix(1,0,0,0.001,0,515);
                    }    
                    .ellipse1.act{
                        animation: ellipse1 0.5s linear forwards 1.2s;
                    }      
                    @keyframes ellipse1 {
                        form{
                            transform: matrix(1,0,0,0.001,0,515);
                        }
                        to{
                            transform: matrix(1,0,0,1,0,0);
                        }
                    }    
                    .ellipse2{
                        transform: matrix(1,0,0,0.001,0,250);
                    }
                    .ellipse2.act{
                        animation: ellipse2 0.5s linear forwards 1.5s;
                    }
                    @keyframes ellipse2 {
                        form{
                            transform: matrix(1,0,0,0.001,0,250);
                        }
                        to{
                            transform: matrix(1,0,0,1,0,0);
                        }
                    }
                    .ellipse3{
                        transform: matrix(1,0,0,0.001,0,115);
                    }
                    .ellipse3.act{
                        animation: ellipse3 0.5s linear forwards 1.8s;
                    }
                    @keyframes ellipse3 {
                        form{
                            transform: matrix(1,0,0,0.001,0,115);
                        }
                        to{
                            transform: matrix(1,0,0,1,0,0);
                        }
                    }
                    .ellipse4{
                        transform: matrix(1,0,0,0.001,0,250);
                    }
                    .ellipse4.act{
                        animation: ellipse4 0.5s linear forwards 2.1s;
                    }
                    @keyframes ellipse4 {
                        form{
                            transform: matrix(1,0,0,0.001,0,250);
                        }
                        to{
                            transform: matrix(1,0,0,1,0,0);
                        }
                    }
                    .ellipse5{
                        transform: matrix(1,0,0,0.001,0,515);
                    }
                    .ellipse5.act{
                        animation: ellipse5 0.5s linear forwards 2.4s;
                    }
                    @keyframes ellipse5 {
                        form{
                            transform: matrix(1,0,0,0.001,0,515);
                        }
                        to{
                            transform: matrix(1,0,0,1,0,0);
                        }
                    }





                    // 圓框框 Circle ~~~~~~~~~~~~~~
                    .circle1{
                        transform-origin: 123px  516.8px;
                        transform: rotate(270deg);
                        stroke-dasharray: 350px ;
                        stroke-dashoffset: -350px ;
                    }
                    .circle1.act{
                        animation: circle1 0.5s linear forwards 1.6s;
                    }
                    @keyframes circle1 {
                        form{
                            stroke-dashoffset: -350px ;
                        }
                        to{
                            stroke-dashoffset: 0px ;
                        }
                    }
                    .circle2{
                        transform-origin: 254px  247.7px;
                        transform: rotate(270deg);
                        stroke-dasharray: 350px ;
                        stroke-dashoffset: -350px ;
                    }
                    .circle2.act{
                        animation: circle2 0.5s linear forwards 1.9s;
                    }
                    @keyframes circle2 {
                        form{
                            stroke-dashoffset: -350px ;
                        }
                        to{
                            stroke-dashoffset: 0px ;
                        }
                    }
                    .circle3{
                        transform-origin: 556px  115.1px;
                        transform: rotate(270deg);
                        stroke-dasharray: 350px ;
                        stroke-dashoffset: -350px ;
                    }
                    .circle3.act{
                        animation: circle3 0.5s linear forwards 2.2s;
                    }
                    @keyframes circle3 {
                        form{
                            stroke-dashoffset: -350px ;
                        }
                        to{
                            stroke-dashoffset: 0px ;
                        }
                    }
                    .circle4{
                        transform-origin: 834px  249px;
                        transform: rotate(270deg);
                        stroke-dasharray: 350px ;
                        stroke-dashoffset: -350px ;
                    }
                    .circle4.act{
                        animation: circle4 0.5s linear forwards 2.5s;
                    }
                    @keyframes circle4 {
                        form{
                            stroke-dashoffset: -350px ;
                        }
                        to{
                            stroke-dashoffset: 0px ;
                        }
                    }
                    .circle5{
                        transform-origin: 995px  515px;
                        transform: rotate(270deg);
                        stroke-dasharray: 350px ;
                        stroke-dashoffset: -350px ;
                    }
                    .circle5.act{
                        animation: circle5 0.5s linear forwards 2.8s;
                    }
                    @keyframes circle5 {
                        form{
                            stroke-dashoffset: -350px ;
                        }
                        to{
                            stroke-dashoffset: 0px ;
                        }
                    }



                     // 線 Line ~~~~~~~~~~~~~~
                    .line {
                        stroke: #FFFFFF;
                    }
                    .line1{
                        stroke-dasharray: 200px ;
                        stroke-dashoffset: 200px ;
                    }
                    .line1.act{
                        animation: line1 0.4s linear forwards 1.1s;
                    }
                    @keyframes line1 {
                        from{
                            stroke-dashoffset: 200px ;
                        }
                        to{
                            stroke-dashoffset: 0 ;
                        }
                    }
                    .line2{
                        stroke-dasharray: 95px ;
                        stroke-dashoffset: 95px ;
                    }
                    .line2.act{
                        animation: line2 0.4s linear forwards 1.3s;
                    }
                    @keyframes line2 {
                        from{
                            stroke-dashoffset: 95px ;
                        }
                        to{
                            stroke-dashoffset: 0 ;
                        }
                    }
                    .line3{
                        stroke-dasharray: 95px ;
                        stroke-dashoffset: 95px ;
                    }
                    .line3.act{
                        animation: line3 0.4s linear forwards 1.5s;
                    }
                    @keyframes line3 {
                        from{
                            stroke-dashoffset: 95px ;
                        }
                        to{
                            stroke-dashoffset: 0 ;
                        }
                    }
                    .line4{
                        stroke-dasharray: 120px ;
                        stroke-dashoffset: 120px ;
                    }
                    .line4.act{
                        animation: line4 0.4s linear forwards 1.7s;
                    }
                    @keyframes line4 {
                        from{
                            stroke-dashoffset: 120px ;
                        }
                        to{
                            stroke-dashoffset: 0 ;
                        }
                    }
                    .line5{
                        stroke-dasharray: 190px ;
                        stroke-dashoffset: 190px ;
                    }
                    .line5.act{
                        animation: line5 0.4s linear forwards 1.9s;
                    }
                    @keyframes line5 {
                        from{
                            stroke-dashoffset: 190px ;
                        }
                        to{
                            stroke-dashoffset: 0 ;
                        }
                    }

                    .svg_text{
                        fill: #FAFAFA;
                        font-size: 26px;
                        letter-spacing: 5px;
                    }     
                }
            }
          }
            
        }
    }
   
}